.font {
    font-family: "League Spartan", sans-serif; /* Fuente común */
    font-optical-sizing: auto;
}
.SobreMi {
    height: 65vh;
    margin: 60px;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.seccion1 {
    display: flex;
    align-items: center;
    width: 20%;
    flex-direction: column;
    border-radius: 10px;
    background: #e0dbdb;
    box-shadow: 10px 10px 5px 5px rgba(35, 42, 60, 0.889);
    position: relative; /* Necesario para que el z-index funcione */
    z-index: 2
}

.leagueSpartanCustom {
    composes: font;
    font-weight: 500; 
    font-style: normal;
}
.subtitle {
    composes: font;
    font-weight: 300;
    font-style: normal;
}

.labeltitle {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    margin-top: 25px;
    width: 55%;
}

.labeltitle, .span{
    composes: font;
    font-weight: 500; /* Cambia esto al peso que necesites */
    font-style: normal;
}

.flag {
    width: 35px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10px; /* Espaciado superior */
    margin-left: 10px;
}

.ageText {
    display: block; /* Asegúrate de que sea un bloque para que el margen funcione */
    margin-top: 15px; /* Ajusta el espaciado superior */
    font-weight: 500; /* Ajusta el peso según sea necesario */
}
.intro{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(4, 0, 0);
}
.redes {
    width: 85%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: rgb(4, 0, 0);
    margin-top: 15px;
}

.img {
    width: 250px; /* Ajusta según sea necesario */
    height: 300px; /* Ajusta según sea necesario */
    overflow: hidden; /* Oculta el desbordamiento */
    margin-top: 20px;
}

.img img {
    width: 100%;
    height: 80%;
    mask-image: linear-gradient(to top, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0) 35%, 
        rgba(0, 0, 0, 1) 75%, 
        rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, 
        rgba(229,232,235, 0.95) 0%, 
        rgba(229,232,235, 1) 35%, 
        rgba(229,232,235, 1) 55%, 
        rgba(229, 232, 235, 0.92) 80%, 
        rgba(229,232,235, 0) 100%);
}

.edu, .exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}

.edu div, .exp div {
    min-width: 310px;
    border: 2px solid rgb(3, 117, 223);
    border-radius: 10px;
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.edu div:hover, .exp div:hover {
    background: linear-gradient(180deg, #3f9dfb, #5c5455);
    color: antiquewhite;
}

@media (max-width: 900px) {
    .SobreMi {
        height: auto;
        padding-bottom: 16vh;
    }
    .seccion1 {
        flex-direction: column;
    }
    .intro, .img, .whatsapp {
        width: 100%;
    }
    .img img {
        width: 200px;
        height: 200px;
    }
    .intro p {
        width: 290px;
        color: white
    }
}
