.Proyectos {
  width: 90%;
  margin: auto;
  padding: 6vh 0;
}

.Proyectos h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.card {
  background: none; /* El fondo ahora está solo en .cardContent */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 4px black solid;
}

.card:hover {
  border: 4px black solid;
  transform: translateY(-5px);
}

.cardContent {
  background-color: white;
  padding-bottom: 16px;
  border-radius: 0 0 12px 0;
}

.cut {
  height: 30px;
  background-color: transparent;
}

.img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #f9fafb;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 12px 0 0 0;
  border-bottom: 2px black solid;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0px 0px 0px;
  display: block;
}

.cardContent h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 16px;
  color: #111827;
}

.cardContent p {
  margin: 0 16px 16px;
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.4;
}

.tecno {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 16px 16px;
  overflow-x: auto;
  padding-bottom: 8px;
}

.tecno img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.github {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
}

.github img {
  width: 24px;
  height: 24px;
  filter: invert(38%) sepia(74%) saturate(5469%) hue-rotate(225deg) brightness(100%) contrast(96%);
  transition: transform 0.2s;
}

.github img:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .img {
    height: 180px;
  }

  .tecno {
    justify-content: flex-start;
    overflow-x: auto;
  }

  .tecno img {
    width: 26px;
    height: 26px;
  }
}
