.Inicio {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-items: center;
}
.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.h1, .h2 {
    background: linear-gradient(180deg, #de4a4a, #cc3636);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full{
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h1Title{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.full p{
    font-size: 1.2rem;
    font-weight: 700;
    color:white;
    letter-spacing:1px;
}

.full .adornos{
    display: flex;
    gap: 5px;
}

.full .adornos div {
    background: linear-gradient(180deg, #ffffff, #4c46fc);
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.botones{
    max-width: 420px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.botones h2{
    font-size: 3rem;
    font-weight: 700;
}

.botones div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.botones div a {
    color: #ffffff;
    text-shadow: 2px 4px 4px rgba(0 , 0 , 0 , 0.5);
    width: 140px;
    height: 45px;
    text-decoration: none;
    font-size: 1.3rem;
    border: 4px solid #f00635;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition:  all 0.2 ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}

.botones div a:hover{
    transition:all 0.2s ease-in-out;
    background:linear-gradient(180deg, #f00635, #0f0f0f) ;
    color: white;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
}

@media (max-width: 1366px) {
    .h1Title {
        font-size: 2rem; /* Reduce el tamaño de la fuente */
    }

    .full p {
        font-size: 1rem; /* Reduce el tamaño de la fuente */
    }

    .full img {
        height: 30px; /* Reduce el tamaño de los íconos */
        margin-left: 10px; /* Reduce el margen entre íconos */
    }
}

@media (max-width: 900px){
    .Inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h1Title {
        font-size: 1.5rem; /* Reduce el tamaño de la fuente */
        font-weight: 700;
    }
    
    .full{
        height: auto;
    }
    .botones{
        display: none;
    }

}