*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(90deg,rgb(74, 23, 45),rgb(226, 212, 236));
     font-family:  Courier New,Courier,monospace;
  }